.card {
  display: flex;

  gap: 20px;
}
.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  width: 20px;
}
.product-img {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}
.button-container {
  display: flex;
  gap: 10px;
}

.product-select {
  display: flex;
  gap: 5px;
}

@media only screen and (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .text-container {
    gap: 10px;
    text-align: center;
  }
}
